<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('ci')
    ->exclude('extra')
    ->exclude('features')
    ->exclude('var')
    ->notPath('src/Kernel.php')
    ->notPath('config/bootstrap.php')
    ->notPath('config/bundles.php')
    ->notPath('public/index.php')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
