includes:
    #- vendor/phpstan/phpstan-strict-rules/rules.neon
    #- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:

    level: 7

    paths:
        - src
        - todo-app/src
        #- tests

    ignoreErrors:
        #- '##'
        - '#Method TodoApp\\Infrastructure\\EventSauce\\ClassNameInflector\\EventNameMapInflector::typeToClassName\(\) should return string but returns int|string.#'
        - '#Method TodoApp\\Infrastructure\\EventSauce\\UserRepository\\UserRepository::ofId\(\) should return TodoApp\\Domain\\Model\\User\\User but returns object.#'
        - '#Cannot call method markAsDone\(\) on TodoApp\\Domain\\Model\\Todo\\Todo|null.#'


    excludes_analyse:
        - 'src/Kernel.php'
        - 'src/Migrations'
        - '*/vendor/*'
        - '*/extra/*'

        # REMOVE dopo installazione di phpstan/phpunit
        #- 'path_to_file.php'
        #- Command/WireUserAddCommand.php
        - todo-app/src/Domain/Model/Todo/TodoAggregateRootBehaviourWithRequiredHistory.php
        - todo-app/src/Infrastructure/EventSauce/TodoRepository/TodoRepository.php



        