includes:
    #- vendor/phpstan/phpstan-strict-rules/rules.neon
    #- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:

    level: 7

    paths:
        - src
        - todo-app/src
        #- tests

    ignoreErrors:
        #- '##'
        - '#Cannot call method markAsDone\(\) on TodoApp\\Domain\\Model\\Todo\\Todo|null.#'


    excludes_analyse:
        - 'src/Kernel.php'
        - 'src/Migrations'
        - '*/vendor/*'
        - '*/extra/*'

        # REMOVE dopo installazione di phpstan/phpunit
        #- 'path_to_file.php'
        #- Command/WireUserAddCommand.php
        - todo-app/src/Domain/Model/Todo/TodoAggregateRootBehaviourWithRequiredHistory.php
        - todo-app/src/Infrastructure/EventSauce/TodoRepository/TodoRepository.php
        - todo-app/src/Domain/Model/User/UserAggregateRootBehaviourWithRequiredHistory.php
        - todo-app/src/Infrastructure/EventSauce/UserRepository/UserRepository.php



        